<div class="cp_card05" style="background-image: url(<%= post.image %>);">
  <div class="details">
    <div class="date">
      <span class="day"><%= post.created_at.strftime("%Y/%m/%d") %></span>
    </div>
  </div>

  
  <div class="description">
    <div class="content">
      <span class="author"><%= post.user.name %></span>
      <div class="text"><%= simple_format(post.text) %></div>
      <%= link_to "/posts/#{post.id}" do %>
        <span class=" button">Read more</span>
      <% end %>
    </div>
  </div>
</div>

