<div class = "top">
  <%= image_tag '1119.png', alt: "top-image", class: "top-image"%>
  <h1>Plants Life</h1>
</div>


<div class="pick-up">
  <h2>PICK UP</h2>
</div>


<% @posts.each do |post| %>
  <%= render partial: "post", locals: { post: post } %>
<% end %>








<div class="menu">
  <%= link_to '投稿する', new_post_path, class: "new-post-btn"%>

  <% if current_user %>
    <div class="logout">
      <%= link_to 'ユーザー新規登録', new_user_registration_path, class: 'user-new-btn' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'login-btn' %>
    </div>
  <% else %>
    <div class="login">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-btn' %>
      <%= link_to 'マイページ', user_path(current_user.id), class: 'mypage-btn' %>
    </div>
  <% end %>
</div>
