<div class="post-show">
  <%= image_tag @post.image, class: 'post-show__image' %>
  <div class="post-show__contents">
    <div class="post-top">
      <div class="post-setting">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <ul class="meta">
            <%= link_to "/posts/#{@post.id}", method: :delete do %>
              <span class="far fa-trash-alt"></span>
            <% end %>
            <%= link_to "/posts/#{@post.id}/edit", method: :get do %>
              <span class="far fa-edit"></span>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="post-action">
        <%= render partial: "likes/like", locals: { post: @post } %>
      </div>

      <div class="date">
        <span class="day"><%= @post.created_at.strftime("%Y/%m/%d") %></span>
      </div>
      
    <div class="author">
      <span class="post-author"><%= @post.user.name %></span>
    </div>
    <div class="description">
      <div class="content">
        <div class="text"><%= simple_format @post.text %></div>
      </div>
    </div>
  </div>
</div>

  



